<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>myGration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="google_translate_element"></div>
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<!-- Inner -->
						<div class="inner" text-align="left">
							<form action='/updateDistance' method='post'>
								<div style="width:80%">
									<p>How far away do you want to receive messages and jobs (kilometers)?</p>
									<input style='float:left; width:80%' type="range" min="1" max="100" <%- "value="+(distance) %> id="gpsRange" />
									<input style='width:20%; border-color: transparent; color:white; background-color: transparent' name='distance' type='text' readonly id='output' />
								</div>
								<div style="width:80%">
									<select name="isRecruiter">
										<option 
										value="0"
										<%if (!recruiter || recruiter==0) { %>
											selected
										<% } %>>Immigrant</option>
										<option
										value="1"
										<%if (recruiter==1) { %>
											selected
										<% } %>>Recruiter or Immigration Specialist</option>
									</select>
								</div>
								<input type='submit' value='Update' />
							</form>
							<hr />
							<p>Change these through your login provider: </p>
							<p>First Name: <%= user.name.givenName %></p>
							<p>Last Name: <%= user.name.familyName %></p>
							<p>Gender: <%= user.gender %></p>
							<p>Email: <%= user.email %></p>
							<p>Language: <%= user.language %></p>
						</div>

				<!-- Nav -->
				<nav style="background-color: #000000;"  id="nav">
					<ul>
						<li><a href='/'>Home</a></li>
						<li><a style='color:crimson'>Profile</a></li>
						<li><a href='/tabs''>Posts Near You</a></li>
						<li><a href='/jobsnearyou'>Jobs Near You</a></li>
						<li><a href='/trendingposts'>Trending Posts</a></li>
						<li><a href='/trendingjobs'>Trending Jobs</a></li>
						<li><a href='/logout'>Logout</a></li>
					</ul>
				</nav>
				</div>
		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
<script>
var slider = document.getElementById("gpsRange");
var output = document.getElementById("output");
output.value = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
    output.value = this.value;
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
	</body>
</html>