<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>myGration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="left-sidebar" style="background-color: #1b1b1b">
		<div id="google_translate_element"></div>
		<div id="page-wrapper">
			<!-- Header -->
			<div id="header">
				<!-- Nav -->
				<nav style="background-color: #000000;"  id="nav">
					<ul>
						<li><a href='/'>Home</a></li>
						<li><a style="color:crimson">Posts Near You</a></li>
						<li><a href='/jobsnearyou'>Jobs Near You</a></li>
						<%if (!user) { %>
	          	<li><a href="/login">Login</a></li>
						<% } else { %>
	          	<li><a href="/profile">My Profile</a></li>
	          	<li><a href="/logout">Logout</a></li>
						<% } %>
					</ul>
				</nav>
			</div>
		</div>
		<p style="color:crimson" id='error'></p>

		<div style="margin: auto; width: 70%; display:table;">
			<textarea style="width:100%; display:table-cell; resize: none" id='status'></textarea>
			<span style="width:50%; display:table-cell;	vertical-align:middle;"><input type="button" style="margin: 10px" onclick="DoPost()" value="Post" /><input type="button" style="margin: 10px" onclick="DoPostAnon()" value="Post Anonymously" /></span>
		</div>

		<br></br>

		<div style="color:yellow">
				<% for(var i=0; posts && i<posts.length; i++) {%>
					<div style='border-radius: 5px; border:2px solid black; margin: auto; width: 70%; display:table;'>
						<p style='margin: 10px; display:table-cell; width:15%; float:left'><%- (posts[i].DisplayName) %> </p>
						<p style='margin: 10px; width:35%'><%- (posts[i].Message) %> </p>
						<image <%- "src="+(posts[i].Picture) %> style='margin: 10px; width:50px;display:table-cell;'/>
						<p style='margin: 10px'><%- (posts[i].Likes) %> Likes </p>
						<p style='margin: 10px'><%- (posts[i].Time.substring(0,posts[i].Time.indexOf('2018')+4)) %> </p>
						<div>
							<input type='button' onclick="Like(this)" value="Like This" />
							<input type='hidden'<%- "value="+(posts[i].PostId) %> />
						</div>
					</div>	
				<% } %>
		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>
			<script>
				var test;

				function DoPost()
				{
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(function(position) {
							var lat=position.coords.latitude;
							var long=position.coords.longitude;
							var currentdate = new Date();
							var message = $('#status').val();
							$.post( "/postMessage", { lat:lat, long:long, time: currentdate, message:message }, function(err)
							{
								if(err.message)
								{
									document.getElementById('error').innerHTML = err.message || 'Not logged in';
								}
								else
								{
									location.reload();
								}
							});
						});
					} else {
						document.getElementById('error').innerHTML = "Geolocation is not supported by this browser.";
					}
				}

				function Like(elem)
				{
					test=elem;
					var id=elem.parentElement.children[1].value;
					$.post( "/likeMessage", { postId:id }, function(err)
					{
						$.get('/tabs');
					});
					
				}

				function DoPostAnon()
				{
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(function(position) {
							var lat=position.coords.latitude;
							var long=position.coords.longitude;
							var currentdate = new Date();
							var message = $('#status').val();
							$.post( "/postMessage", { lat:lat, long:long, time: currentdate, message:message, isAnon:true }, function(err)
							{
								if(err.message)
								{
									document.getElementById('error').innerHTML = err.message || 'Not logged in';
								}
								else
								{
									location.reload();
								}
							});
						});
					} else {
						document.getElementById('error').innerHTML = "Geolocation is not supported by this browser.";
					}
				}
			</script>
			<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <script type="text/javascript">
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
            </script>
	</body>
</html>